 body {
     margin: 0px;
     padding: 0px;
 }

 header {
     height: auto;
 }

 header::before {
     background: url(img/Background.jpeg);
     content: "";
     position: absolute;
     height: 100%;
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: -1;
     opacity: 0.9;
 }


 .navbar {
     display: flex;
     font-size: 20px;
     position: fixed;
     background-color: black;
     width: 100%;
     justify-content: center;
 }

 .navigation {
     display: flex;
 }

 li {
     list-style: none;
     padding: 0px 20px;
 }

 li a {
     text-decoration: none;
     color: white;
 }

 .information {
     text-align: center;
     padding: 189px 0px;
 }

 .information h3 {
     font-size: 40px;
 }

 .information h1 {
     font-size: 60px;
 }

 .intro-position {
     font-size: 20px;
 }

 .intro-position span::after {
     content: "|";
     text-align: center;
     display: inline-block;
     padding: 0 8px 0 14px;
     color: black
 }

 .intro-position span:first-child::before {
     content: "|";
     text-align: center;
     display: inline-block;
     padding: 0 14px 0 8px;
     color: black;
 }

 #about {
     height: auto;
     display: flex;
     background-color: rgb(205, 200, 200);
 }

 .container {
     margin: 5rem 5rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .pic img {
     width: 13rem;
     border-radius: 100%;
     float: left;
 }

 .intro {
     width: 78%;
     height: auto;

 }

 .info-one {
     width: 48%;
     height: auto;
     margin-top: 15px;
 }

 .info-one ul li strong {
     display: block;
     line-height: 3;
 }

 .skill {
     width: 48%;
     height: auto;
     margin-top: 15px;
 }

 .skill ul li {
     line-height: 2;
 }

 .eduction {
     width: 100%;
     height: auto;
     margin-top: 15px;
 }

 .eduction ul li strong {
     display: block;
     line-height: 3;
 }

 #project {
     border: 2px solid black;
     display: flex;
     flex-wrap: wrap;
     height: auto;
     padding: 20px 0px;
     justify-content: center;
     align-items: center;
 }

 .project_1 {
     height: auto;
     width: 95%;
     padding: 25px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .card_1 {
     height: 400px;
     width: 300px;
     margin: 20px 0px;
 }

 .card_1 img {
     height: 400px;
     width: 300px;
 }

 #contact {
     display: flex;
     flex-wrap: wrap;
     height: auto;
 }

 .address {
     height: auto;
     width: 100%;
     margin-top: 20px;
     margin-right: 20px;
     margin-left: 20px;
 }

 #head {
     border: red solid 2px;
     margin: auto;
     width: 33%;
     text-align: center;
 }

 #address {
     border: red solid 2px;
     width: 50%;
     margin: 80px auto;
     padding: 20px 20px;
     font-size: 25px;
 }

 #address:hover {
     border: rgb(141, 206, 152) solid 2px;
 }

 .heading {
     cursor: pointer;
 }

 .footer {
     height: 10%;
     width: 100%;
     padding: 15px;
     display: flex;
     justify-content: center;
 }