 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 ::-webkit-scrollbar {
     display: none;
 }

 header {
     height: 100vh;
     width: 100vw;
 }

 header::before {
     background: url("img/Background.jpeg");
     content: "";
     position: absolute;
     height: 100%;
     width: 100vw;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: -1;
     opacity: 1;
     background-attachment: scroll;
 }


 .navbar {
     display: flex;
     font-size: 20px;
     position: fixed;
     background-color: black;
     width: 100vw;
     height: 55px;
     justify-content: center;
     align-items: center;
 }

 .navigation {
     display: flex;
 }

 li {
     list-style: none;
     padding: 0px 20px;
 }

 li a {
     text-decoration: none;
     color: white;
 }

 .information {
     padding-top: 280px;
     text-align: center;
 }

 .information h3 {
     font-size: 40px;
 }

 .information h1 {
     font-size: 60px;
 }

 .intro-position {
     font-size: 20px;
 }

 .intro-position span::after {
     content: "|";
     text-align: center;
     display: inline-block;
     padding: 0 8px 0 14px;
     color: black
 }

 .intro-position span:first-child::before {
     content: "|";
     text-align: center;
     display: inline-block;
     padding: 0 14px 0 8px;
     color: black;
 }

 #about {
     height: auto;
     display: flex;
     background-color: rgb(205, 200, 200);
 }

 .container {
     margin: 5rem 5rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .pic img {
     width: 13rem;
     border-radius: 100%;
     /* float: left; */
 }

 .intro {
     width: auto;
     height: auto;
 }

 .intro h4 {
     line-height: 3;
     text-align: center;
     font-size: 22px;
     font-family: 'Courier New', Courier, monospace;
 }

 .intro p {
     font-size: 18px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     line-height: 1.3;
     word-spacing: 2px;
 }

 .info-one {
     width: auto;
     height: auto;
     margin-top: 15px;
 }

 .info-one h3 {
     font-size: 24px;
 }

 .info-one span {
     font-size: 18px;
 }

 strong {
     font-size: 18px;
 }

 .info-one ul li strong {
     display: block;
     line-height: 3;
 }

 .skill {
     width: 48%;
     height: auto;
     margin-top: 15px;
 }

 .skill h3 {
     font-size: 24px;
 }

 hr {
     border: 2px solid black;
     border-radius: 50px;
 }

 .skill ul li {
     line-height: 3;
 }

 .eduction {
     width: 100%;
     height: auto;
     margin-top: 15px;
 }

 .eduction i {
     font-size: 24px;
     line-height: 2;
 }

 .eduction h3 {
     font-size: 24px
 }

 .eduction strong {
     font-size: 18px;
 }

 .eduction span {
     font-size: 18px;
     line-height: 2;
 }

 .eduction ul li strong {
     display: block;
     line-height: 3;
 }

 .resume a {
     background-color: #2e94e3;
     color: black;
     padding: 12px;
     border: 2px solid black;
     border-radius: 8px;
     text-decoration: none;
     font-weight: bold;
 }

 #project {
     border: 2px solid black;
     display: flex;
     flex-wrap: wrap;
     height: auto;
     padding: 28px 0px;
     justify-content: center;
     align-items: center;
 }

 #project h2 {
     font-size: 38px;
 }

 .project_1 {
     height: auto;
     width: 95%;
     padding: 25px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .card_1 {
     height: 400px;
     width: 300px;
     margin: 20px 0px;
     border: 2px solid black;
 }

 .card_1 a {
     text-decoration: none;
     font-weight: bold;
     font-family: 'Courier New', Courier, monospace;
     font-size: 25px;
     color: white;
 }

 .music {
     width: 300px;
     height: 400px;
     border: 2px solid black;
     background-image: url("img/music.jpg");
     background-size: cover;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .music:hover {
     opacity: 0.8;
     color: rgb(169, 159, 159);
     text-transform: uppercase;
 }

 .gymweb {
     width: 300px;
     height: 400px;
     border: 2px solid black;
     background-image: url("img/gym.jpg");
     background-size: cover;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .gymweb:hover {
     opacity: 0.8;
     color: rgb(169, 159, 159);
     text-transform: uppercase;
 }

 .store {
     width: 300px;
     height: 400px;
     border: 2px solid black;
     background-image: url("img/store.jpg");
     background-size: cover;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .store:hover {
     opacity: 0.8;
     color: rgb(169, 159, 159);
     text-transform: uppercase;
 }



 #contact {
     height: auto;
     width: 100%;
     background: url(img/contact.jpg) no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 .contact-section {
     width: 100%;
     height: 550px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 .contact-info {
     color: #fff;
     max-width: 500px;
     line-height: 65px;
     padding-left: 50px;
     font-size: 18px;
 }

 .contact-info i {
     margin-right: 20px;
     font-size: 25px;
 }

 .contact-form {
     max-width: 700px;
     margin-right: 50px;
 }

 .contact-info,
 .contact-form {
     flex: 1;
 }

 .contact-form h2 {
     color: white;
     text-align: center;
     font-size: 35px;
     text-transform: uppercase;
     margin-bottom: 30px;
 }

 .contact-form .text-box {
     background: black;
     color: white;
     border: none;
     width: cal(50%-50%);
     height: 50px;
     padding: 12px;
     font-size: 15px;
     border-radius: 5px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
     margin-bottom: 20px;
     opacity: 0.9;
 }

 .contact-form .text-box:first-child {
     margin-right: 15px;
 }

 .contact-form textarea {
     background-color: black;
     color: white;
     border: none;
     width: 100%;
     padding: 12px;
     font-size: 15px;
     min-height: 200px;
     max-height: 400px;
     resize: vertical;
     border-radius: 5px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
     margin-bottom: 20px;
     opacity: 0.9;
 }

 .contact-form .send-btn {
     float: right;
     background: #2e94e3;
     color: white;
     border: none;
     width: 120px;
     height: 40px;
     font-size: 15px;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 2px;
     border-radius: 5px;
     transition: 0.3s;
     cursor: pointer;
     transition-property: background;
 }

 .contact-form .send-btn:hover {
     background: #0582E3;
 }

 .footer {
     height: 5%;
     width: 100%;
     padding: 15px;
     background-color: black;
     display: flex;
     justify-content: center;
 }

 .icon {
     padding-left: 90px;
     margin-bottom: 15px;
 }

 .icon i {
     color: white;
     font-size: 30px;
     padding-right: 20px;
 }

 .copy {
     color: white;
     font-size: 18px;
 }

 @media only screen and (max-width:700px) {

     html,
     body {
         width: 100%;
         height: 100%;
         margin: 0px;
         padding: 0px;
         overflow-x: hidden;
     }

 }